
<template id="table-Entrada-template">
    <loading-spinner params="{ Loading: LoadingRegistros, Message: 'Cargando...' }"></loading-spinner>

    <div class="table-responsive">
        <table class="table table-hover" data-bind="if: (!LoadingRegistros() && Entradas().length > 0)">
            <caption class="small fw-bold">
                <span data-bind="text: Entradas().length"></span> registros en la tabla.
            </caption>
            <thead>
                <tr>
                    <th scope="row" class="text-center">
                        #
                    </th>
                    <th>
                        @Html.DisplayName("Código")
                    </th>
                    <th>
                        @Html.DisplayName("Fecha Entrada")
                    </th>
                    <th>
                        @Html.DisplayName("Proveedor")
                    </th>
                    <th>
                        @Html.DisplayName("Total Entrada")
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider" data-bind="foreach: Entradas">
                <tr>
                    <td class="text-center align-middle fw-bold" data-bind="text: ((($parent.SearchViewModel().Page() - 1) * $parent.SearchViewModel().RecordsPerPage()) + $index() + 1)"></td>

                    <td class="align-middle" data-bind="text:Codigo"></td>
                    <td class="align-middle" data-bind="text:FechaEntrada"></td>
                    <td class="align-middle" data-bind="text:NombreProveedor"></td>
                    <td class="align-middle" data-bind="text:'C$ ' + Total()"></td>
                    <td class="align-middle">
                        <span data-bind="css: EsActivo() ? 'badge text-bg-success' : 'badge text-bg-warning',
                                            text: EsActivo() ? 'Procesado' : 'Anulado'"></span>
                    </td>

                    <td>
                        <button type="button" class="btn btn-outline-primary" title="Clonar" data-bind="click: () => $root.ClonarEntrada($data)">
                            <i class="fa fa-clone"></i>
                        </button>
                        <button type="button" class="btn btn-outline-warning" title="Detalles" data-bind="click: () => $root.DetalleEntrada($data)">
                            <i class="fa fa-print"></i>
                        </button>
                        <button type="button" class="btn btn-outline-danger" title="Anular" data-bind="visible: EsActivo(), click: () => $root.AnularEntrada($data)">
                            <i class="fa fa-times"></i>
                        </button>
                        <button type="button" class="btn btn-outline-info" title="Ver" _data-bind="visible: !EsActivo(), click: () => $root.VerAnulacion($data)">
                            <i class="fa fa-eye"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--ko if: !LoadingRegistros() -->
    <div class="mt-3" data-bind="template: { name: 'pagination-template', data: PaginationViewModel }"></div>
    <!--/ko-->
    <!--ko if: (Entradas().length <= 0 && !LoadingRegistros()) -->
    <div class="alert alert-warning animated flash mb-0" role="alert">
        <p class="mb-0">
            <span class="fas fa-exclamation-triangle"></span>
            No se han encontrado @ViewBag.Title para mostrar
        </p>
    </div>
    <!--/ko -->
</template>